language: java
dist: trusty
jdk:
  - oraclejdk9

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

before_script:
  - (./gradlew -p test/testnetwork-launcher run &)
  - sleep 10
